.action-btn {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
.action-btn::after {
  display: none !important;
}
.action-btn:hover {
  background: #f3f4f6;
  border-radius: 6px;
}
.crown-purple {
  
  color: purple;
}
.cog-blue {
  
  color: blue;
}
.user-sandel {
  
  color: rgb(113, 113, 126);
}
.search-input-wrapper {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 10px 14px 10px 42px; /* extra left padding for icon */
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
}

.search-input:focus {
  border-color: #409eff; 
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  opacity: 0.6;
}
.add-user-btn {
  background-color: #2289ff !important;
  border-radius: 12px;
  padding: 10px 18px;
  font-size: 15px;
  border: none;
  white-space: nowrap ;
}
.add-user-btn:hover {
  background-color: #1c7de6 !important;
}
.table-heading tr th {
  white-space: nowrap !important;
  background-color: #e1e2e3 !important;
  border-top: 1px solid #dee2e6 !important;
}